<div class="admin_show">
	<h1 class="page_title">ユーザー詳細</h1>
    <div class="profile-main">
        <div class="profile-left" style="background-image: url(<%= image_url('no_image.jpg') %>)"><%= attachment_image_tag @user,:user_image , :class=>"profile-image" %></div>
        <div class="profile-center">
            <h5><%= @user.user_name %></h5>
            <a><%= @user.self_introduction %></a>
        </div>
        <div class="profile-right">
        <% unless @user.deleted_at.present? %>
                    <a><%= link_to "ユーザーを削除" ,user_path(@user.id),method: :delete ,id:'submit' ,:class=>"btn red waves-effect"  %></a>
                <% else %>
                    <a><%= link_to "ユーザーを復帰" ,user_path(@user.id),method: :delete ,id:'submit' ,:class=>"btn orange waves-effect"  %></a>
                <% end %>
        </div>
    </div>
        <% @user.books.each do |book| %>
        <div class="admin_book_list">
            <div class="admin_book_title">
                <span><%= link_to book.title, edit_admin_path(book.id)%></span>
            </div>
            <div class="admin_book_body">
                <span><%= book.body.truncate(20) %></span>
            </div>
            <div class="admin_book_sentiment">
                <span><%= book.sentiment %></span>
            </div>
            <div class="admin_book_created_at">
                <span><%= book.created_at %></span>
            </div>
        </div>
        <% end %>
</div>