<p id="notice"><%= notice %></p>

<div class="books_edit">
<h1>作品編集画面</h1>
	<%= link_to "作品詳細画面", book_path(@book.id) ,id:'submit' ,:class=>"btn waves-effect" %>

	<%= link_to "作品一覧画面" ,books_path ,id:'submit' ,:class=>"btn waves-effect"%>

	<% if current_user.id == @user.id %>
	<%#= link_to "公開する" ,books_path(@book.id), method: :post  ,id:'submit' ,:class=>"btn cyan lighten-2 waves-effect"%>
	<%# if  @book_%>
	<%#= link_to "非公開にする" ,book_path(@book.id), method: :delete  ,id:'submit' ,:class=>"btn orange lighten-2  waves-effect"%>
	<%= link_to "削除する" ,book_path(@book.id), method: :delete  ,id:'submit' ,:class=>"btn red waves-effect"%></a>

	<% end %>

	<div class="form_block">
		<%= form_for(@book,url:"/books/#{@book.id}") do |f| %>
		<label>題名</label>
		<div class="form_title">
			<%= f.text_field :title %>
		</div>
		<label>本文</label>
		<p class="text_body"><%= @book.body %></p>
		<%= f.submit '編集完了' , id:'submit' ,:class=>"btn waves-effect"%>
		<% end %>
	</div>
</div>