<!DOCTYPE html>
<html>

  <head>
    <title>Morph</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
  </head>

  <body>
    <header>
        <nav class="header">
            <div class="nav-wrapper">
                <div class="container">
                    <a><%= link_to 'MôRPH - もおふ。-', about_path ,class: "brand-logo"%></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <% if user_signed_in? %>
                        <li><a><%= link_to 'MôRPHとは', about_path %></a></li>
                        <li><a><%= link_to 'マイページ', user_path(current_user.id) %></a></li>
                        <li><a><%= link_to '作品一覧', books_path %></a></li>
                        <li><a><%= link_to '作品投稿', new_book_path %></a></li>
                        <li><a><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a></li>
                        <% elsif admin_signed_in? %>
                        <li><a><%= link_to 'ユーザー一覧', admins_path %></a></li>
                        <li><a><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></a></li>
                        <% else %>
                        <li><a><%= link_to 'MôRPHとは', about_path %></a></li>
                        <li><a><%= link_to '作品一覧', books_path %></a></li>
                        <li><a><%= link_to '新規登録', new_user_registration_path %></a></li>
                        <li><a><%= link_to 'ログイン', new_user_session_path %></a></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <ul id="slide-out" class="sidenav">
  <li><a href="/css/">CSS</a></li>
  <li><a href="/html/">HTML</a></li>
  <li><a href="/javascript/">JavaScript</a></li>
</ul>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5 id="footer_font" class="white-text" >MôRPH  - もおふ。-</h5>
        <p class="white-text" >MôRPHはあなたの文章に新たな価値を発掘するサイトです</p>
      </div>
      <div class="col s6">
        <h5 class="white-text">参考文献</h5>
        <ul>
          <li><a href="http://taku910.github.io/mecab/" target="_blank" class="white-text">「MeCab (和布蕪)とは」</a></li>
          <li><a href="https://github.com/markburns/mecab" target="_blank" class="white-text" >「MeCab ruby binding with gemspec」</a></li>
          <li><a href="http://www.lr.pi.titech.ac.jp/~takamura/pndic_en.html" target="_blank" class="white-text">Hiroya Takamura,2005「Semantic Orientations of Words」</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" href="https://github.com/ymmt1089/morph" target="_blank">
      <a href="https://github.com/ymmt1089/morph" target="_blank" class="white-text">&copy; 2019 Naoyuki Yamamoto</a>
    </div>
